/* Home.css */
html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  align-items: center; /* Center the items vertically */
  justify-content: center; /* Center the text content horizontally */
  padding: 20px 0px 0px 20px;
  max-width: 800px;
  margin: 0px 0px 0px 0px;
}

.left-nav {
  flex: 1; /* Allow the left-nav to take up available space */
  text-align: center;
  margin: 0px 0px 0px 0px; /* Center the text content */
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 1em;
  color: #555;
}

.icons {
  display: flex;
  justify-content: center; /* Center the icons */
  gap: 20px;
  margin-top: 20px;
}

.icons a {
  text-decoration: none;
}

.icons img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.icons img:hover {
  transform: scale(1.1);
}

.right-nav {
  flex: 0; /* Prevent the right-nav from taking up more space */
  margin-left: 20px; /* Add margin to the left of the right-nav */
}

.right-nav img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
  margin: -400px -200px 0px 1000px; /* Add margin to push the image further to the right */
}

.section {
  padding: 50px;
  border-bottom: 1px solid #ddd;
}

.tech-stack img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
}
